<div class="row">
    <div class="card" style="width: 18rem;">
      <h5 class="card-title text-center pt-2">Login</h5>
      <div class="card-body">
        <div class="py-4">
            <div>
                <label class="form-label">username or email</label>
                <input #email type="text" class="form-control" required>
            </div>
            <div>
                <label for="inputPassword5" class="form-label">Password</label>
                <input #password type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" required>
            </div>
        </div>
        <div class="text-center" (click)="processData(email.value,password.value)">
            <a href="#" class=" btn btn-primary">Log in</a>
        </div>
      </div>
    </div>
</div>